/* 
Main App Styles
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lusitana', serif;;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

a {
  color: #fff;
  font-style: normal;
  text-decoration: none;
}

a:hover {
  color: #c4c4c4;
}

p {
  margin-bottom: 0.75em;
}

div.app-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

h1 {
  text-align: center;
  margin-bottom: 0.5em;
}


/* 
  LOADER STYLING
*/

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #444; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;

  margin: 2em auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* 
  NAVBAR STYLING
*/
nav {
  font-family: 'Poppins', sans-serif;
  background-color: #333;
  color: #fff;
  padding: 0.75em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 16px -1px rgba(0,0,0,0.75);
}

nav h1 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
}

nav ul.navbar-list {
  display: flex;
  list-style: none;
}

.navbar-items {
  margin-left: 0.75em;
}


/* 
  TOP NEWS STYLING
*/
div.news-articles {
  display: grid;
  grid-gap: 0;
}

.article-item:nth-child(odd) {
  grid-column-start: 1;
  grid-column-end: 2;
}

.article-item:nth-child(even) {
  grid-column-start: 2;
  grid-column-end: 2;
}

.article-item {
  position: relative;
  margin: 1.5em;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 1px 17px -2px rgba(20, 20, 20, 0.75);
}

.article-item img {
  width: 100%;
}

.article-item-text-content {
   padding: 1.5em 2em;
}

.article-item h3 {
  font-size: 2em;
  margin-bottom: 0.25em;
}

span.small-info-text {
  font-size: 0.85em;
  font-style: italic;
  color: #555;
  margin-bottom: 0.75em;
}

.article-item p {
  margin-bottom: 0.75em;
}

.read-more-link {
  display: inline-block;
  color: #333;
  text-transform: uppercase;
  margin: 1em 0;
}

/* 
  SEARCH STYLING
*/

form {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

div.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  font-size: 1em;
  background-color: #efefef;
  margin: 1em;
  padding: 0.25em;
  border: none;
  border-bottom: 1px dashed #555;
}

form button {
  padding: 0.5em 0.75em;
  margin-bottom: 1em;
  font-size: 1em;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 0.25em;
}

form button:hover {
  background-color: #444;
}

div.search-result {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.search-result-item {
  margin: 1.5em 0;
  border-bottom: 1px solid #c4c4c4;
  text-align: justify;
}

.search-result-item h2 {
  margin-bottom: 0.25em;
}

.search-result-item img {
  width: 100%;
  margin: 1em 0;
}

.search-result-item p {
  margin-bottom: 0.75em;
}
